@media (max-width: 600px) {
    .only-desktop {
        display: none !important;
    }
}

@media (min-width: 600px) {
    .only-mobile {
        display: none !important;
    }

    ::-webkit-scrollbar {
        width: 0px;
    }
}

.n-card {
    .n-card {
        box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.2);
        backdrop-filter: none;
    }

    & {
        box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(3px);
    }
}

.n-dialog {
    backdrop-filter: blur(5px);
}

.n-modal {
    max-width: calc(100% - 15px);
    // --n-color-modal: rgb(255 255 255 / 65%) !important;
}

.n-data-table__pagination {
    padding-right: 8px;
}

.light {
    .n-select {
        .n-base-selection {
            --n-color: rgb(0 0 0 / 10%) !important;
            --n-color-active: rgb(0 0 0 / 0%) !important;
            // --n-color: none !important;
            --n-arrow-color: rgb(51, 54, 57) !important;
            --n-border: none !important;
        }
    }

    .n-base-select-menu {
        --n-color: rgb(209, 209, 209) !important;
        --n-option-color-pending: rgb(0 0 0 / 10%) !important;
        --n-option-color-active-pending: rgb(0 0 0 / 10%) !important;
    }
}

body {
    --base-background-color: #e5effd;
    --sidebar-background-color: #e5effd;
    --loading-background-color: var(--sidebar-background-color);
    --text-color: rgb(51, 54, 57);
    --text-other-color: rgb(51, 54, 57);
}

body.dark {
    --base-background-color: #1b1b1b;
    --sidebar-background-color: #2a324b;
    --loading-background-color: var(--sidebar-background-color);
    --text-color: white;
    --text-other-color: rgb(174, 174, 174);
}